name: Build/Publish Develop Docs
on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - mkdocs.yml
      - .github/workflows/develop-docs.yaml

permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13.0
      - name: Install Dependencies
        run: |
          pip install mkdocs-material
          pip install mkdocs-glightbox
          pip install mkdocs-mermaid-zoom
          pip install pillow cairosvg mike
      - name: Setup Docs Deploy
        run: |
          git config --global user.name "Docs Deploy"
          git config --global user.email "docs.deploy@opendefense.cloud"
      - name: Build Docs Website
        run: |
          make docs-patch-config
          mike deploy --push develop
